/* Carousel */
.banner .container-fluid {
	padding:0!important;
}
.banner {
	margin-top: 76px;
	display: flex;
    justify-content: center; 
    align-items: center;
	background-image:url(../圖片/carton.jpg);
	background-size: 100% 100%;
}
.banner .container-fluid {
	padding:0!important;
}

.c-container{
	max-width: 60%;
}

/* Introduct */
.introduct{
	margin: 100px 20%;
}

.introduct p{
	font-size: 20px;
}

.introduct .row{
	color: gray;
}